@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./fonts/vazir.woff2") format("woff2");
}

body {
  direction: rtl;
  text-align: right;
  font-family: vazir;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  background: white;
}

.App {
  text-align: center;
  margin-top: 50vh;
  font-size: 50px;
  transform: translateY(-50%);
}
